{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group ">
				<legend class="border-bottom mb-4">Blog post</legend>
				{{ form|crispy }}
			</fieldset>
			<img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
			<div class="form-group ">
				<button class="btn btn-outline-primary" type="submit">Crear</button>


			</div>
		</form>
		
	</div>
{% endblock content %}


